@font-face{
    /*This takes the downloaded font and gives it a name to use in css*/ 
    src: url(fonts/DMSerifDisplay-Regular.ttf);
    font-family: DMSerif;
}
@font-face{
    /*This takes the downloaded font and gives it a name to use in css*/ 
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
    font-family: Montserrat;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}

.header_container{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(93, 84, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}
.header_container.sticky{
    background-color: rgb(93, 84, 32);
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0,25);
}
.header_container h1{
    font-family: DMSerif;
    color: rgb(242, 155, 185);
    font-size: 2.5rem;
    margin: 0;
    letter-spacing: 1px;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;  
    display: flex;
    gap: 10px;
}
.navbar a{
    color: rgb(255, 232, 226);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-align: center;
    font-family: Montserrat;
    border-radius: 20px;
    /*margin-bottom: 10px;*/
    transition: background-color 0.3s;
}
.navbar a:hover{
    background-color: hsl(358, 32%, 50%);
}
.navbar li{
    float: none;
}
.navbar a.active{
    background-color: rgba(255, 232, 226, 0.8);
    color: hsl(358, 32%, 50%);
}

.section{
    margin: 0px;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*scroll-snap-align: start; Optional for "snapping"*/
}
main{
    /*scroll-snap-type: y mandatory; also optional*/
    overflow-y: scroll;
}

#about{
    background-color: rgb(161, 168, 190);
}
#resume{
    background-color: hsl(16, 67%, 86%);
}
#contact{
    background-color: rgb(242, 155, 185);
}

#main_photo img{
    width: 300px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.about_content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 150px;
    padding: 60px 80px;
}
.text_content {
    max-width: 500px;
}
.text_content h3{
    font-family: DMSerif;
    font-size: 3rem;
    color: rgb(63, 0, 19);
}
.text_content p{
    font-family: Montserrat;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(70, 30, 40);
}
.text_content a{
    text-decoration: none;
    background-color: hsl(342, 100%, 12%);
    color: white;
    font-family: Montserrat;
    padding: 7px 15px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}
.about_content a:hover{
    background-color: hsl(342, 100%, 18%);
}

.about_me_box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 2px;
    left: 0;
    margin-bottom: -110px;
    margin-top: 30px;
    width: 100%;
    
}

.about_me_left{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    margin-left: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(242, 155, 185);
    border-radius: 15px;
}

.hobbies_box{
    margin-left: 20px;
    width: 70%;
}
#hobbies h4{
    margin-top: 10px;
    font-size: 2.5rem;
}

#hobbies_list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 20px;
}
#hobbies_list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

#img_yarn{
    width: 100px;
}
#img_scissors{
    margin-top: 12px;
    width: 75px;
}
#img_book{
    margin-top: 10px;
    width: 90px;
}
#img_paintbrush{
    margin-top: 10px;
    width: 55px;
}
#img_lightbulb{
    margin-top: 10px;
    width: 85px;
}

.about_me_info{
    text-align: center;  
}
.about_me_info h4{
    font-size: 1.7rem;
}
.about_me_info p{
    font-size: 1.1rem;
}

#resume p, ul{
    font-family: Montserrat;
}

#resume h3, h4{
    font-family: DMSerif;
}

.section h2{
    font-family: DMSerif;
    font-size: 3rem;
}
.section p{
    font-family: Montserrat;
}

.big_part_resume{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 2px;
    left: 0;
    width: 95%;
}
.resume_right{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}
.skills{
    margin-right: 80px;
    margin-top: 100px;
    width: 30%;
}
#education{
    display: flex;
    flex-direction: column;
    background-color: hsl(16, 67%, 94%);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
#education h3{
    font-size: 2.5rem;
    text-align: center;

}
#resume h5{
    font-family: DMSerif;
    font-size: 1.2rem;
    font-style: italic;
}
#ucr{
   padding-left: 10%;
}
#erasmus{
   padding-left: 10%;
}

.big_part_resume h3{
    font-family: DMSerif;
    font-size: 2rem;
}
.big_part_resume h4{
    font-family: DMSerif;
    font-size: 1.5rem;
}
.big_part_resume p, ul{
    font-family: Montserrat;
}

details > summary {
    cursor: pointer;
    width:fit-content;
    transition: background-color 0.3s;
    padding: 2px;
    margin: 5px;
}
details > summary:hover{
    background-color: hsl(16, 67%, 98%);
    border-radius: 15px;
}
details > p{
    margin-left: 25px;
}

#resume a{
    background-color: hsl(16, 67%, 94%);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: Montserrat;
    transition: background-color 0.3s;
    text-decoration: none;
    color: black;
}
#resume a:hover{
    background-color: hsl(16, 67%, 98%);
}




footer{
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(234, 120, 69);
    font-family: Montserrat;
}
@media (max-width: 768px) {
    .aboutme-layout {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        gap: 30px;
    }

    #main_photo img {
        width: 80%;
    }

    .text_content {
        text-align: center;
        max-width: 90%;
    }
}