@font-face{
    /*This takes the downloaded font and gives it a name to use in css*/ 
    src: url(fonts/DMSerifDisplay-Regular.ttf);
    font-family: DMSerif;
}
@font-face{
    /*This takes the downloaded font and gives it a name to use in css*/ 
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
    font-family: Montserrat;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}

.header_container{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(93, 84, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}
.header_container.sticky{
    background-color: rgb(93, 84, 32);
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0,25);
}
.header_container h1{
    font-family: DMSerif;
    color: rgb(242, 155, 185);
    font-size: 2.5rem;
    margin: 0;
    letter-spacing: 1px;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;  
    display: flex;
    gap: 10px;
}
.navbar a{
    color: rgb(255, 232, 226);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-align: center;
    font-family: Montserrat;
    border-radius: 20px;
    /*margin-bottom: 10px;*/
    transition: background-color 0.3s;
}
.navbar a:hover{
    background-color: hsl(358, 32%, 50%);
}
.navbar li{
    float: none;
}
.navbar a.active{
    background-color: rgba(255, 232, 226, 0.8);
    color: hsl(358, 32%, 50%);
}

.section{
    margin: 0px;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*scroll-snap-align: start; Optional for "snapping"*/
}
main{
    /*scroll-snap-type: y mandatory; also optional*/
    overflow-y: scroll;
}

#about{
    background-color: rgb(161, 168, 190);
}
#resume{
    background-color: rgb(243, 208, 195);
}
#contact{
    background-color: rgb(242, 155, 185);
}

#main_photo img{
    width: 300px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.about_content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 150px;
    padding: 60px 80px;
}
.text_content {
    max-width: 500px;
}
.text_content h3{
    font-family: DMSerif;
    font-size: 1.8rem;
    color: rgb(63, 0, 19);
}
.text_content p{
    font-family: Montserrat;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(70, 30, 40);
}
.text_content a{
    text-decoration: none;
    background-color: hsl(342, 100%, 12%);
    color: white;
    font-family: Montserrat;
    padding: 7px 15px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}
.about_content a:hover{
    background-color: hsl(342, 100%, 18%);
}



footer{
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(234, 120, 69);
    font-family: Montserrat;
}
@media (max-width: 768px) {
    .aboutme-layout {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        gap: 30px;
    }

    #main_photo img {
        width: 80%;
    }

    .text_content {
        text-align: center;
        max-width: 90%;
    }
}